body {
  background-color: #f6f8f9;
}

.heading {
  width: 800px;
  margin: auto;
}
.buttons {
  padding-left: 510px;
}
.button {
  padding-left: 190px;
}
.btn1 {
  width: 250px;
}
.btn2 {
  width: 250px;
}
.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: white;
}
.box {
  width: 100%;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 11%);
  background-color: white;
}
.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 70s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.company {
  width: 100%;
  filter: grayscale(100%);
}
.features_box {
  width: 420px;
  background-color: white;
  padding: 10px;
  height: 560px;
  line-height: 1.8;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 11%);
}
.features-flex {
  width: 70%;
  margin: auto;
}
.Appbox {
  width: 350px;
  height: 500px;
  padding: 10px;
  margin-left: 200px;
  text-align: left;
}
.appdetails {
  text-align: left;
  width: 200px;
}
.apps {
  width: 80px;
}
.seeall {
  width: 150px;
  border: 1px solid black;
  background-color: white;
}
.seeall:hover {
  background-color: black;
  color: white;
}
.feature {
  width: 230px;
}
.feature-box {
  margin-top: 40px;
}
.img1 {
  width: 280px;
  height: 340px;
}
.img2 {
  margin-left: -70px;
  width: 500px;
  height: 350px;
  margin-top: -50px;
}
.timesheet {
  width: 500px;
  margin-left: 120px;
}
@media all and (min-width: 450px) and (max-width: 750px) {
  .head1{
    font-size: 12px;
  }
 
.buttons {
  padding-left: 150px;
  width: 700px;
}
.button {
  padding-left: 150px;
}
.btn1 {
  width: 200px;
}
.btn2 {
  width: 200px;
}
.image_1{
  width: 100%;
  margin-left: 100px;
}
.int_cont{
 padding-left: 200px;
}
.big_cont{
  width: 80%;
  background-color: blueviolet;
  margin: auto;

}

}
@media all and (min-width: 100px) and (max-width: 451px){

}